.NavigationItem {
    color: #909090;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem .active {
    color: #707070;
}

@media (max-width: 499px) {
    .DesktopOnly{
        display: none;
    }
}